body{
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    width: 90%;
    max-width:1170px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

h2 {
    font-size: 30px;
    margin-top: 20px;
}

table{
    width: 100%;
    border-spacing: 0;
}


td, th{
    padding: 8px;
}

th{
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td{
    border-top: 1px solid #ddd;
    vertical-align: top;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

button {
    background:none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 4px 9px;
    line-height: 1.5;
}

button:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: rgba(0,0,0,0.5);
}

.modal-dialog {
    width: 600px;
    margin: 30px auto;
}

.modal-content {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.modal-header{
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-title{
    margin: 0;
}

.modal-body{
    padding: 15px;
}

.modal-footer{
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.idIndex{
    position:absolute;
}

section{
    float:left;
    width: 90%;
}

nav{
    float:right;
    width:10%;
}
nav ul{
    position: fixed;
    list-style-type: none;
    width: inherit;
}
nav a{
    display:block;
    padding: 4px 20px;
    font-size: 13px;
    color: #999;
}
nav a:hover{
    border-left: 1px solid #563d7c;
    text-decoration: none;
    color: #563d7c;
    padding-left: 19px;
}
@media (max-width: 768px){
    nav {
	display:none;
    }
    section{
	width: 100%;
    }
}
